---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">arnsfh</h1>
			<p class="hero__text">
				Hello, World!
			</p>
			<Boton href="#about" texto="Learn more!"/>
		</div>
    <img
		class="hero__img"
		src="/img/arnsfh.png"
		alt="arnsfh"
		width="384"
    	height="384"
	/>
	</div>
</section>
