---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Skills" />
		<p>
			Skills?
		</p>
	</div>
</section>
