---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css";
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://lanyard.cnrad.dev/api/674294528915800074?theme=dark&bg=&animated=true&hideDiscrim=false&borderRadius=30px&idleMessage=Working%20on%20another%20ambitious%20project!"
			alt="Discord Presence",
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="About me" />
			<p class="about__text">
				Hello
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>
</section>
