---
import Button from '../components/atoms/Boton.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 - Page Not Found">
	<section
		class="flex flex-col items-center justify-center h-screen bg-gradient-to-br from-purple-900 to-gray-900 text-center text-white"
	>
		<h1 class="text-[8rem] font-bold mb-4 text-purple-300">404</h1>
		<p class="text-[3rem] text-gray-400 mb-8">
			Oops! The page you're looking for doesn't exist.
		</p>
		<Button
			texto="Go Home"
			href="/"
			class="px-6 py-3 bg-purple-600 hover:bg-purple-700 text-white rounded-md transition duration-300"
		/>
	</section>
</Layout>
