---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="jhonDoe">
	<div class="terminal__skills">
		<h2>My skills</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/nodejs.svg"
				color="#58a746"
				name="NodeJs"
			/>
			<TerminalIcon
				src="/assets/typescript.svg"
				color="#017acc"
				name="Typescript"
			/>
			<TerminalIcon
				src="/assets/mysql.svg"
				color="#00D1FF"
				name="Better-Sqlite3"
			/>
			<TerminalIcon src="/assets/mongodb.svg" color="#00ed64" name="Mongodb" />
			<TerminalIcon src="/assets/npm.svg" color="#cc3534" name="npm" />
			<!-- <TerminalIcon
				src="/assets/electron.svg"
				color="#3F75FF"
				name="Electron"
			/> -->
		</div>
	</div>
</Terminal>
